<div class="col-md-6">
    <div class="row">
        <div class="col-md-3 stats ">
            Acquired skills :
        </div>
        <div class="col-md-3 stats ">
            <h3>42</h3>
        </div>
        <div class="col-md-3 stats ">
            Productivity :
        </div>
        <div class="col-md-3 stats ">
            <h3>42</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 stats ">
            Projects Progresses :
        </div>
        <div class="col-md-3 stats ">
            <h3>42</h3>
        </div>
        <div class="col-md-3 stats ">
            Mutual Aid :
        </div>
        <div class="col-md-3 stats ">
            <h3>42</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 stats">
            Ambiance :
        </div>
        <div class="col-md-3 stats">
            <h3>42</h3>
        </div>
        <div class="col-md-3 stats ">
            Technical skills :
        </div>
        <div class="col-md-3 stats ">
            <h3>42</h3>
        </div>
    </div>
    @foreach (KeepCalmAndMIC.Models.Card c in Model.Cards)
    {
        <button>
            <h4>@c.Name</h4>
            <p>@c.Description</p>
            <h5>Effects :</h5>
            <table>
                <tr>
                    <td>on Production :</td>
                    <td>@c.EffectOnProduction</td>
                </tr>
                <tr>
                    <td>on Mutual Aid :</td>
                    <td>@c.EffectOnMutualAid</td>
                </tr>
                <tr>
                    <td>on Skills :</td>
                    <td>@c.EffectOnTechnicalSkills</td>
                </tr>
                <tr>
                    <td>on Ambiance :</td>
                    <td>@c.EffectOnAmbiance</td>
                </tr>
            </table>
            <h5>Costs :</h5>
            <table>
                <tr>
                    <td>Time : </td>
                    <td>@c.TimeCostInHour</td>
                </tr>
            </table>
        </button>
    }
</div>