<div class="col-md-6">
    
        @if ((DayOfWeek)Model.SelectedDay != null)
        {
            switch ((DayOfWeek)Model.SelectedDay)
            {
                case DayOfWeek.Monday:
                    <input type="button" value="<strong>Monday</strong>" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Monday})'"/>
                    <input type="button" value="Tuesday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Tuesday})'" />
                    <input type="button" value="Wednesday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Wednesday})'" />
                    <input type="button" value="Thursday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Thursday})'" />
                    <input type="button" value="Friday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Friday})'" />
                    break;
                case DayOfWeek.Tuesday:
                    <input type="button" value="Monday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Monday})'" />
                    <input type="button" value="<strong>Tuesday</strong>" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Tuesday})'" />
                    <input type="button" value="Wednesday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Wednesday})'" />
                    <input type="button" value="Thursday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Thursday})'" />
                    <input type="button" value="Friday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Friday})'" />
                    break;
                case DayOfWeek.Wednesday:
                    <input type="button" value="Monday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Monday})'" />
                    <input type="button" value="Tuesday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Tuesday})'" />
                    <input type="button" value="<strong>Wednesday</strong>" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Wednesday})'" />
                    <input type="button" value="Thursday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Thursday})'" />
                    <input type="button" value="Friday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Friday})'" />
                    break;
                case DayOfWeek.Thursday:
                    <input type="button" value="Monday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Monday})'" />
                    <input type="button" value="Tuesday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Tuesday})'" />
                    <input type="button" value="Wednesday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Wednesday})'" />
                    <input type="button" value="<strong>Thursday</strong>" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Thursday})'" />
                    <input type="button" value="Friday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Friday})'" />
                    break;
                case DayOfWeek.Friday:
                    <input type="button" value="Monday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Monday})'" />
                    <input type="button" value="Tuesday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Tuesday})'" />
                    <input type="button" value="Wednesday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Wednesday})'" />
                    <input type="button" value="Thursday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Thursday})'" />
                    <input type="button" value="<strong>Friday</strong>" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Friday})'" />
                    break;
                default:
                    <input type="button" value="Monday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Monday})'" />
                    <input type="button" value="Tuesday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Tuesday})'" />
                    <input type="button" value="Wednesday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Wednesday})'" />
                    <input type="button" value="Thursday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Thursday})'" />
                    <input type="button" value="Friday" onclick="location.href='@Url.Action("SelectDayOfWeek","Play",new {day = @DayOfWeek.Friday})'" />
                    break;
            }
        }
        else
        {
            <button>Monday</button>
            <button>Tuesday</button>
            <button>Wednesday</button>
            <button>Thursday</button>
            <button>Friday</button>
        }
</div>