<div class="row">
    <di class="col-md-4">
        <div class="row">
            <div class="stats">
                Production
            </div>
            <div class="stats">
                Learnings
            </div>
            <div class="stats">
                Ambiance
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @if ((DayOfWeek)ViewBag.SelectedDay == DayOfWeek.Sunday)
        {
            <table>
                <tr>
                    <td>@Html.Action("SelectDayOfWeek","Play",DayOfWeek.Monday)</td>
                </tr>
                <tr>
                    <td>@Html.Action("SelectDayOfWeek", "Play", DayOfWeek.Tuesday)</td>
                </tr>
                <tr>
                    <td>@Html.Action("SelectDayOfWeek", "Play", DayOfWeek.Wednesday)</td>
                </tr>
                <tr>
                    <td>@Html.Action("SelectDayOfWeek", "Play", DayOfWeek.Thursday)</td>
                </tr>
                <tr>
                    <td>@Html.Action("SelectDayOfWeek", "Play", DayOfWeek.Friday)</td>
                </tr>
            </table>
        }
        else
        {
            <div class="dayInformations" dropzone="">

            </div>
        }
    </div>
</div>